
.TrendingItemListingItemList {
    display: flex;
    justify-content: center;
  }
  
  .TrendingItemList ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .TrendingItemList li {
    display: flex;
    margin:20px;
    padding-top: 23px;
  }
  
  .TrendingItemList a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .TrendingItemList a:hover {
    color: #000;
  }
  
  /* .TrendingItemList a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  .TrendingItemList a:hover::before {
    width: 100%;
  }
   */